micronaut:
  server:
    cors:
      enabled: true
  application:
    name: kharcha
  security:
    enabled: true
    token:
      enabled: true
      jwt:
        enabled: true
        signatures:
          jwks:
            fusionauth:
              url: ${jwks_uri}
dynamodb:
  table:
    accounts: accounts-${environment:prd}
    transactions: transactions-${environment:prd}